p {
    border: 1px solid black;
    background-color: magenta;
    margin: 30px;
    font-size: 2rem;
    position: static;
}

#special {
    position: relative;
    background-color: yellow;
    top: 50px;
    left: 40px;
    z-index: 1;
    width: 50rem;
}

#z-index-positioning {
    position: relative;
    z-index: 3;
    width: 50rem;
}

.box {
    background-color: olive;
    display: inline-block;
    width: 30rem;
    height: 30rem;
    position: relative;
}

.box span {
    color: white;
    background-color: black;
    position: absolute;
    right: 0;
}

.orange-red {
    background-color: orangered;
    position: absolute;
    display: inline-block;
    width: 30rem;
    height: 30rem;
    top: 0;
    right: 0;
}