body {
    margin: 0;
}

.sidebar {
    background-color: red;
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 20;
    right: 0;
}

.sidebar button {
    position: absolute;
    top: 0;
    right: 0;
}