body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(cyan, purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #37474f;
    height: 70px;
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    align-items: center;
}

.navlink {
    color: white;
    font-size: 2rem;
    /* margin: 0 30px; */
}

.left {
    background-color: red;
    display: flex;
    justify-content: space-between;
    width: 500px;

}

.right {
    background-color: yellowgreen;
    display: flex;
    justify-content: flex-end;
    width: 500px;
    /* margin-left: auto; */
    /* margin-right: 10px; */
}

.circle {
    background-color: orangered;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 50%;
}